body
{
    background: #F4F4F4;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.header
{
    background: #F4F4F4;
    text-transform: uppercase;
}
.login
{
    background: #fff;
    border: 2px #fff solid;
    border-radius: 25px;
    width: 35%;
    margin: 0 auto;
    padding: 10;
}
.navbar
{
    padding: 10 10;
    margin: 0;
}
.navbar-text
{
    color: black !important;
    text-transform: uppercase !important;
     margin-right: 25px !important;
}